* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;   /* removes horizontal scroll */
  background: #020617;
}

body {
  min-height: 100vh;
}

@keyframes moveParticles {
  from { transform: translateY(0); }
  to { transform: translateY(-1000px); }
}
